* {
  box-sizing: border-box;
}

.app {
  padding: 10px;
  width: content-box;
}

.main-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 1fr 400px 200px;
  grid-template-rows: 300px 100px 100px;
  grid-template-areas: "st sr sr  tr"
                       ".  sr sr  tr"
                       ".  .  op op";
  max-width: 1000px;
  margin: 0 auto;
}

.stats-box {
  grid-area: st;
  border: 3px solid red;
}

.threads-box {
  grid-area: tr;
  border: 3px solid green;
}

.actions-box {
  grid-area: op;
  border: 3px solid blue;
  padding: 5px;
}

.story-box-wrapper {
  grid-area: sr;
  border: 3px solid black;
  padding: 10px;
}

.story-box {
  height: 100%;
  overflow: scroll;
}


.action-btn {
  float: left;
  height: calc(100% - 10px);
  width: calc(33.33% - 10px);
  margin: 5px;
}

.action-btn button {
  height: 100%;
  width: 100%;
}

.stats-box {
  padding: 5px;
}

.stat-display {
  height: calc(25% + 1px);
  padding: 5px;
  border: 1px solid black;
  margin-top: -1px;
}

.stat-label {
  margin-top: 0;
  margin-bottom: 15px;
}

.thread-popup {
  grid-area: sr;
  background-color: white;
  border: 3px solid orange;
}