* {
  box-sizing: border-box;
}

.main-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 1fr 400px 200px;
  grid-template-rows: 300px 100px 100px;
  grid-template-areas: "st . .  tr"
                       ".  . .  tr"
                       ".  . op op";
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.stats-box {
  grid-area: st;
  border: 3px solid red;
}

.threads-box {
  grid-area: tr;
  border: 3px solid green;
}

.actions-box {
  grid-area: op;
  border: 3px solid blue;
  padding: 5px;
}

.action-btn {
  float: left;
  height: calc(100% - 10px);
  width: calc(33.33% - 10px);
  margin: 5px;
}

.action-btn button {
  height: 100%;
  width: 100%;
}
